html {
  -webkit-font-smoothing: antialiased !important;
}

body {
  background-image: url(/public/patterns/1.png);
  background-repeat: repeat;
  background-color: #6699CC;
}

p {
  word-wrap: break-word;
}

.tile {
  width: 18em;
  padding-left: 7.5px;
  padding-right: 7.5px;
  text-align: center;
  /*float: left;*/
  display: inline-block;
  position: relative;
}

.tile img {
  margin-bottom: 2px;
}

.tile p {
  text-align: center !important;
}

.tile a {
  color: inherit;
}

.gallery {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

.gallery img {
  margin-bottom: 0;
  margin: 0 auto;
}

#gallery_subtitle {
  margin-bottom: 0;
  padding-top: 10px;
  text-align: center;
}

#gallery_nav {
  max-width: 600px;
  margin-top: -100px;
  text-align: initial;
}

#gallery_nav  p{
  max-width: 100%;
  font-size: 100px;
  margin-bottom: 0;
  display: inline;
  cursor: default;

  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

#gallery_nav p:hover {
  color: grey;
}

#gallery_nav_right {
  float: right;
}

#gallery_pos_text {
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
}

.cart-button {
  float: right;
  margin-top: -0.1rem;
  background-color: #FCF200;
  border-style: solid;
  padding: 4px;
  border-radius: 5px;
  cursor: pointer;
}

.countdown {
  padding-top: 20px;
  max-width: 100%
}

/*.container {
  max-width: 28rem;
}*/

select {
  font-size: 0.8rem;
  background-color: #fff;
}

table {
  max-width: 100%;
}

::selection {
  background: #ffeb99; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffeb99; /* Gecko Browsers */
}

img::selection {
  background: none;
}

img::-moz-selection {
  background: none;
}

input[type=text] {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem 0.5rem;
  font-size: 0.8rem;
}

.addToCart {
  background-color: #FCF200;
  border-style: solid;
  padding: 4px;
  border-radius: 5px;
  cursor: pointer;
  width: 7rem;
  text-align: center;
}

.product-callout {
    position: relative;
}

.tile .after {
    position: absolute;
    top: 0;
    left: 7.5px;
    text-align: left;
    background-color: #FCF200;
    border-radius: 0 0 7px 0;
    border-style: none solid solid none;
    border-width: 2px;
    border-color: #515151;
}

.tile .after p {
    color: #515151;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 0;
}

.tile .price {
    position: absolute;
    right: 7.5px;
    bottom: 42px;
    text-align: left;
    background-color: #FCF200;
    border-radius: 7px 0 0 0;
    border-style: solid none none solid;
    border-width: 2px;
    border-color: #515151;
}

.tile .price p {
    color: #515151;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 0;
}

.title-text {
  text-transform: none;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  letter-spacing: normal;
  font-size: 2rem;
  margin: 0;
  text-decoration: none;
}

.masthead {
  border-bottom: 0.2rem;
  border-bottom-style: solid;
  background-color: rgba(255, 255, 255, 0.5);
}

.masthead-title {
  text-align: center;
}

.masthead-title a {
  text-decoration: none;
  /*cursor: default;*/
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.footer {
  text-align: center;
  max-width: 27rem;
}

.footer p {
  margin: 0;
}

.social-icons {
  padding-top: 1rem;
}

.social-icons a {
  text-decoration: none;
}

.social-icons img {
  width: 2rem;
  display: inline;
  margin-left: 1rem;
  margin-right: 1rem;
}

/*.update {*/
/*  position: relative;*/
/*}*/

/*.update .title {*/
/*    position: absolute;*/
/*    top: 0.3rem;*/
/*    left: -1rem;*/
/*    text-align: left;*/
/*    background-color: #FCF200;*/
/*    border-radius: 4px;*/
/*    border-style: solid;*/
    /*border-width: 2px;*/
/*    border-color: #515151;*/
/*}*/

/*.update .title p {*/
/*  margin: 0;*/
/*  padding: 3px;*/
/*}*/

.main h1 {
  text-align: center;
}

.tiles {
  text-align: center;
}

.notice {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 0;
}

.masthead-title img {
  margin: 0 auto;
  max-width: 50%;
}

@media (min-width: 56em) {
  select {
    font-size: 1rem;
    background-color: #fff;
  }

  table {
    max-width: 75%;
  }

  input[type=text] {
    font-size: 1rem;
  }

  .title-text {
    font-size: 3rem;
  }

  .tile .price {
    bottom: 52px;
  }

  #featured {
    width: 65%;
  }

  #featured img {
    display: inline;
  }

  #featured .price {
    bottom: 60px;
  }

}
