<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}


  <body>

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <div class="masthead-title">
            <a href="/">
              <!-- <h1 class="title-text">Catskull Games</h1> -->
              <img src="/public/images/logos/1.png"/>
            </a>
          </div>
          <a href="https://catskullelectronics.com" style="color:#515151;">
            <span class="cart-button noselect" style="float:left;">
              Electronics
            </span>
          </a>
          <a href="https://catskullrecords.com" style="color:#515151;">
            <span class="cart-button noselect" style="float:left; margin-left: 5px;">
              Music
            </span>
          </a>
          <span class="cart-button noselect" onclick="viewCart(event)">View Cart</span>
        </div>
      </div>

      <div class="container content post main">
        {{ content }}
      </div>

      <div class="container content post footer">
        <h2><a href="/faq">FAQ</a></h2>
        <div class="social-icons">
          <a href="https://www.facebook.com/catskullelectronics" target="_blank">
            <img src="/public/facebook.png" alt="Facebook">
          </a>
          <a href="https://www.instagram.com/xxcatskullxx/" target="_blank">
            <img src="/public/instagram.png" alt="Instagram">
          </a>
          <a href="https://twitter.com/catskullelec" target="_blank">
            <img src="/public/twitter.png" alt="Facebook">
          </a>
        </div>
      </div>

    </div>

    <script type="text/javascript">
      function viewCart(event) {
        event.stopPropagation()
        document.getElementsByClassName('shopify-buy__cart-toggle')[0].click()
      }

      function addToCart(event) {
        var options = document.getElementById('options-selection')
        if (options) {
          var el = document.getElementsByClassName('shopify-buy__option-select__select')[0]
          el.selectedIndex = options.selectedIndex
          var e = document.createEvent('HTMLEvents');
          e.initEvent('change', true, false);
          el.dispatchEvent(e);
        }

        event.stopPropagation()
        document.getElementById('shopify-button').getElementsByTagName('button')[0].click()
      }
    </script>
  </body>
</html>
